<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd">
  
   <aop:aspectj-autoproxy />
    <!-- 开启事务注解驱动 -->
	<tx:annotation-driven transaction-manager="txAdvice" />
    <context:component-scan base-package="org.dreams.fly.service" /> 
   <!-- 引入dao配置文件 -->
    <import resource="spring-dao.xml"/>
    <!-- 事务管理器 -->
	<bean name="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
 
   <tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="del*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException" />
			<tx:method name="edit*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException" />
			<tx:method name="save*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException" />
			<tx:method name="insert*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException" />
			<tx:method name="add*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException" />
			<tx:method name="update*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="find*" propagation="SUPPORTS" />
			<tx:method name="get*" propagation="SUPPORTS" />
			<tx:method name="list*" propagation="SUPPORTS" />
			<tx:method name="show*" propagation="SUPPORTS" />
			<tx:method name="check*" propagation="SUPPORTS" />
		</tx:attributes>
 </tx:advice>

	<aop:config>
		<!--把事务控制在Service层 -->
		<aop:pointcut id="servicePointCut"
			expression="execution(public * org.dreams.fly.service..*.*(..))" />
		<aop:pointcut id="daoPointCut"
			expression="execution(public * org.dreams.fly.dao..*.*(..))" />
		<aop:advisor pointcut-ref="servicePointCut" advice-ref="txAdvice" />
		<!--  
		<aop:advisor pointcut-ref="servicePointCut" advice-ref="beforeMethodAdvice" />
		<aop:advisor pointcut-ref="servicePointCut" advice-ref="afterReturningMethodAdvice" />
		<aop:advisor pointcut-ref="servicePointCut" advice-ref="afterThrowsMethodAdvice" />
		-->
		<!-- <aop:aspect id="aspect" ref="profilingAspect">
			<aop:around method="around" pointcut-ref="daoPointCut" />
			<aop:after method="after" pointcut-ref="daoPointCut" />
		</aop:aspect> -->
	</aop:config>
      
    
      
</beans>  